@import url("https://fonts.googleapis.com/css2?family=B612:wght@700&display=swap");
body {
  margin: 0px;
}

/* unvisited link */
a:link {
  color: rgb(0, 0, 0);
}

/* visited link */
a:visited {
  color: rgb(0, 0, 0);
}

/* mouse over link */
a:hover {
  color: rgb(105, 183, 255);
}

/* selected link */
a:active {
  color: rgb(0, 0, 0);
}

a:link {
  text-decoration: none;
}

a:visited {
  text-decoration: none;
}

a:hover {
  text-decoration: none;
}

a:active {
  text-decoration: none;
}

canvas {
  display: block;
  vertical-align: bottom;
}

/* ---- tsparticles container ---- */
#tsparticles {
  position: absolute;
  width: 100%;
  height: 100%;
  background-color: #0d47a1;
  background-image: url("");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: 50% 50%;
}

#particles-js {
  background-color: #554141;
  height: 860px;
  width: 100%;
}

#name {
  color: #0088ff;
  font-size: 70px;
  font-family: "B612", sans-serif;
  position: absolute;
  margin: 250px 250px;
}

#fork {
  color: #000000;
  font-size: 70px;
  font-family: "B612", sans-serif;
  position: absolute;
  margin: 350px 250px;
  animation: blink 4000ms linear infinite;
  -moz-animation: blink 4000ms linear infinite;
  -webkit-animation: blink 4000ms linear infinite;
}

#me {
  color: #000000;
  font-size: 70px;
  font-family: "B612", sans-serif;
  position: absolute;
  margin: 350px 400px;
  animation: blink 2000ms linear infinite;
  -moz-animation: blink 2000ms linear infinite;
  -webkit-animation: blink 2000ms linear infinite;
}

@keyframes blink {
  0% {
    opacity: 0;
  }
  50% {
    opacity: 1;
  }
  100% {
    opacity: 0;
  }
}
@-moz-keyframes blink {
  0% {
    opacity: 0;
  }
  50% {
    opacity: 1;
  }
  100% {
    opacity: 0;
  }
}
@-webkit-keyframes blink {
  0% {
    opacity: 0;
  }
  50% {
    opacity: 1;
  }
  100% {
    opacity: 0;
  }
}

#typewriter {
  color: #008f0c;
  position: absolute;
  font-size: 60px;
  font-family: "B612", sans-serif;
  font-weight: 700;
  width: 800px;
  margin: 450px 250px;
}

/*
a0d0f8
ea5c5a
*/
